<h1>New Item</h1>

<%= render 'form', item: @item %>


<br></br>

<a href="/">
    <button type="button" class="container  backbutton">Block level button</button>
</a> 

<br></br>









<STYLE>

    .backbutton {

        display: flex;
        justify-content: center;
        flex-direction: align;
        width: 87%;
    
    }

</STYLE>